#!/usr/bin/make -f

export PYBUILD_NAME=pypuppetdb

%:
	dh $@ --with python2,python3 --buildsystem=pybuild

override_dh_installchangelogs:
	dh_installchangelogs CHANGELOG.rst

override_dh_clean:
	dh_clean
	-rm -rf pypuppetdb.egg-info
	-rm -rf PKG-INFO

override_dh_auto_test:
	true
